[submodule "titanic_survival_exploration"]
	path = titanic_survival_exploration
	url = https://github.com/loeiten/titanic_survival_exploration
[submodule "boston_housing"]
	path = boston_housing
	url = https://github.com/loeiten/boston_housing
[submodule "finding_donors"]
	path = finding_donors
	url = https://github.com/loeiten/finding_donors
[submodule "customer_segments"]
	path = customer_segments
	url = https://github.com/loeiten/customer_segments
[submodule "smartcab"]
	path = smartcab
	url = https://github.com/loeiten/smartcab
[submodule "dog-project"]
	path = dog-project
	url = https://github.com/loeiten/dog-project
